:root {
}

.pause-title__panel {
    position: absolute;
    background-image: url("project://database/Assets/Visuals/UI/Slide%2016_9%20-%201%20(5).png?fileID=-551857921&guid=e376f57c569ef4439a67fc68500f6401&type=3#Slide 16_9 - 1 (5)_0");
}

.resume__button {
    background-image: url("project://database/Assets/Visuals/UI/Slide%2016_9%20-%201%20(5).png?fileID=1931952423&guid=e376f57c569ef4439a67fc68500f6401&type=3#Slide 16_9 - 1 (5)_6");
    transition-duration: 0.08s;
}

.resume__button:active {
    background-image: url("project://database/Assets/Visuals/UI/Slide%2016_9%20-%201%20(5).png?fileID=1931952423&guid=e376f57c569ef4439a67fc68500f6401&type=3#Slide 16_9 - 1 (5)_6");
    transition-duration: 0.08s;
    transition-timing-function: ease-out;
    scale: 1.1 1.1;
}

.endrun__button {
    background-image: url("project://database/Assets/Visuals/UI/Slide%2016_9%20-%201%20(5).png?fileID=1467923691&guid=e376f57c569ef4439a67fc68500f6401&type=3#Slide 16_9 - 1 (5)_7");
}

.endrun__button:active {
    background-image: url("project://database/Assets/Visuals/UI/Slide%2016_9%20-%201%20(5).png?fileID=1467923691&guid=e376f57c569ef4439a67fc68500f6401&type=3#Slide 16_9 - 1 (5)_7");
    transition-timing-function: ease-out;
    transition-duration: 0.08s;
    scale: 1.1 1.1 1.1;
}

.pause__panel {
    background-image: url("project://database/Assets/Visuals/UI/Slide%2016_9%20-%201%20(5).png?fileID=-1854848773&guid=e376f57c569ef4439a67fc68500f6401&type=3#Slide 16_9 - 1 (5)_5");
    position: absolute;
    top: 500px;
    align-self: center;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    height: 690px;
}

.pause_panel_in {
    flex-grow: 1;
    position: absolute;
    flex-shrink: 1;
    height: 690px;
    margin-top: 0;
    align-self: center;
    top: 500px;
    translate: 0 1645px;
    opacity: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.background {
    flex-grow: 1;
    position: relative;
    height: 2016px;
    width: 1079px;
    background-color: rgba(255, 255, 255, 0.47);
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.background-out {
    opacity: 0;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
