:root {
}

.toggle-settings {
    margin-top: 38px;
    margin-right: 38px;
    margin-bottom: 38px;
    margin-left: 38px;
    font-size: 55px;
    -unity-text-align: middle-center;
    white-space: normal;
    padding-left: 132px;
    -unity-font-style: bold;
    background-image: url("project://database/Assets/Visuals/UI/Slide%2016_9%20-%201%20(5).png?fileID=1931952423&guid=e376f57c569ef4439a67fc68500f6401&type=3#Slide 16_9 - 1 (5)_6");
    -unity-font-definition: url("project://database/Assets/Visuals/Fonts/LilitaOne-Regular.ttf?fileID=12800000&guid=7bf66073856ae40a1875549e19ef7770&type=3#LilitaOne-Regular");
    color: rgb(188, 69, 0);
    letter-spacing: 0;
    transition-duration: 0.08s;
    -unity-material: url("");
}

.toggle-settings:active {
    margin-top: 38px;
    margin-right: 38px;
    margin-bottom: 38px;
    margin-left: 38px;
    font-size: 55px;
    -unity-text-align: middle-center;
    white-space: normal;
    padding-left: 132px;
    -unity-font-style: bold;
    background-image: url("project://database/Assets/Visuals/UI/Slide%2016_9%20-%201%20(5).png?fileID=1931952423&guid=e376f57c569ef4439a67fc68500f6401&type=3#Slide 16_9 - 1 (5)_6");
    -unity-font-definition: url("project://database/Assets/Visuals/Fonts/LilitaOne-Regular.ttf?fileID=12800000&guid=7bf66073856ae40a1875549e19ef7770&type=3#LilitaOne-Regular");
    color: rgb(188, 69, 0);
    letter-spacing: 0;
    transition-duration: 0.08s;
    transition-timing-function: ease-out-bounce;
    scale: 1.1 1.1 1.1;
}

.unity-toggle__checkmark {
    width: 70px;
    height: 70px;
    display: flex;
    background-image: url("project://database/Assets/Visuals/UI/Slide%2016_9%20-%201%20(5).png?fileID=1363117964&guid=e376f57c569ef4439a67fc68500f6401&type=3#Slide 16_9 - 1 (5)_14");
    background-color: rgba(0, 0, 0, 0);
    -unity-background-image-tint-color: rgb(255, 255, 255);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    opacity: 1;
    right: -254px;
}

.toggle-image__checkmark {
    background-image: url("project://database/Assets/Visuals/UI/Slide%2016_9%20-%201%20(5).png?fileID=-798897827&guid=e376f57c569ef4439a67fc68500f6401&type=3#Slide 16_9 - 1 (5)_15");
    position: absolute;
}

.toggle-image_checked {
    position: absolute;
    width: 50px;
    height: 37px;
    right: 80px;
}

.label-button {
    left: -260px;
}

.unity-toggle__input {
    right: -115px;
}

.exit-button {
    position: absolute;
    background-color: rgba(188, 188, 188, 0);
    background-image: url("project://database/Assets/Visuals/UI/Slide%2016_9%20-%201%20(5).png?fileID=-1954855962&guid=e376f57c569ef4439a67fc68500f6401&type=3#Slide 16_9 - 1 (5)_9");
    border-top-color: rgba(149, 149, 149, 0);
    border-right-color: rgba(149, 149, 149, 0);
    border-left-color: rgba(149, 149, 149, 0);
    border-bottom-color: rgba(149, 149, 149, 0);
    -unity-background-scale-mode: scale-and-crop;
    height: 109px;
    width: 106px;
    top: 112px;
    left: 936px;
    transition-duration: 0.08s;
}

.exit-button:active {
    position: absolute;
    background-color: rgba(188, 188, 188, 0);
    background-image: url("project://database/Assets/Visuals/UI/Slide%2016_9%20-%201%20(5).png?fileID=-1954855962&guid=e376f57c569ef4439a67fc68500f6401&type=3#Slide 16_9 - 1 (5)_9");
    border-top-color: rgba(149, 149, 149, 0);
    border-right-color: rgba(149, 149, 149, 0);
    border-left-color: rgba(149, 149, 149, 0);
    border-bottom-color: rgba(149, 149, 149, 0);
    -unity-background-scale-mode: scale-and-crop;
    height: 109px;
    width: 106px;
    top: 112px;
    left: 936px;
    transition-duration: 0.08s;
    transition-timing-function: ease-out;
    scale: 1.1 1.1;
}

.settings {
    flex-grow: 1;
    transition-duration: 1s;
    transition-timing-function: ease-out-bounce;
}

.settings_hide {
    translate: 0 -2017px;
    transition-timing-function: ease-in;
    opacity: 1;
    visibility: visible;
    display: flex;
    overflow: hidden;
    transition-duration: 0.5s;
}
